<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='/styles/style.css' />
    <link rel="stylesheet" type="text/css" href='/styles/normalize.css' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>
{{> nav}}

<body>
    <div class="container">
        <h1 id="aboutTitle">{{pageTitle}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam veniam numquam mollitia ea minus natus explicabo
            deleniti autem, omnis saepe?</p>
    </div>

{{> footer}}
</body>

</html>