@import url("https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans");

* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

/* NAVIGATION */
nav {
  background: #34495e;
  border-bottom: 1.5px solid black;
  color: whitesmoke;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  margin: 0;
  font-size: 1.45em;
  font-weight: 700;
  color: darkslategray;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: whitesmoke;
  font-size: 1em;
  font-family: "Dosis", sans-serif;
}

.main-nav a:hover {
  /* text-decoration: underline;
  text-decoration-color:hsl(0, 61%, 50%); */
  text-shadow: 1px 1px hsl(0, 61%, 50%);
  /* position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
}

/* ABOUT (INDEX.HBS)*/
.container {
  margin: 1.5em;
  padding: 1em;
}

#aboutTitle {
  font-family: "Josefin Sans", sans-serif;
}

/* FOOTER */
footer {
  background: hsl(0, 0%, 22%);
  color: whitesmoke;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* ================================= 
  Media Queries
==================================== */

/* NAVIGATION QUERIES */
@media (min-width: 769px) {
  nav,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}

@media (min-width: 1025px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
